@charset "UTF-8";
/* CSS Document */

html {
	font-size: 16px;
}

.navbar {
  display: flex;
  justify-content:flex-start; /* Align links from both ends */
  align-items: center; /* Vertically center content */
  background-color: rgba(60,61,53,1.00);
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 5%;
}

body {
	background: url("images/background.jpg")fixed top left;
	background-size: cover;
}

.row {
	display: flex;
	margin-top: 5%;
	gap: 20px;
}


.comlumn {
	background-color: rgba(187,185,181,.7);
	padding: 1rem 0;
	flex: 1;
	border-radius: 5px;
	
}

.comlumn2 {
	padding: 1rem 0;
	flex: 1;
	border-radius: 5px;
}

.comlumn3 {
	padding: 1rem 0;
	flex: 3;
	border-radius: 50px;
	background-color: rgba(141,141,139,.7);
	border: 4px solid rgba(0, 0, 0, 0.8);
	
}


h1 {
	text-align:center;
	padding: 10px 10px 10px 10px;
	font-size: 3em;
	font-family: "Playfair Display", "sans-serif";
}

h2 {
	text-align: center;
	padding: 10px 10px 10px 10px;
	font-size: 2em;
	font-family: "Playfair Display", "sans-serif";
}

h3 {
	text-align: center;
	padding: 10px 10px 10px 10px;
	font-size: 1.5em;
	margin-right: 30.5%;
	margin-left: 30.5%;
	background-color: rgba(93,97,75,.7);
	border: 1px solid rgba(0, 0, 0, 0.8);
	border-radius: 30px;
	font-family: "Playfair Display", "sans-serif";
}

h4 {
	text-align:center;
	padding: 10px 10px 10px 10px;
	font-size: 7em;
	font-family: "Euphoria Script", "sans-serif";

}

h5 {
	text-align:center;
	padding: 10px 10px 10px 10px;
	font-size: 4em;
	font-family: "Euphoria Script", "sans-serif";

}


p {
	padding: 10px 10px 10px 10px;
	font-size: 1.5em;
	text-align: center;
	font-family: "Montserrat", "sans-serif";
	
}

a {
	text-decoration: none;
	color: black;
}


img {
	width: 100%;
	border: 4px solid rgba(0, 0, 0, 0.8);
	border-radius: 50px; 
}

form {
	align-items: center;
	margin-left: 45%;
	margin-right: 45%;
}

.text {
	font-size: 1em;
	background-color:rgba(231,231,231,1.00);
	margin-left: 5%;
	margin-right: 5%;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.8);
	
}

.back {
	background-image: url("images/IMG_9582.jpg");
	background-size: cover;
	background-blend-mode: lighten;
	border: 20px solid rgba(0, 0, 0, 0.8);
}

.back2 {
	background-image: url("images/SageSprigs-997597.jpg");
	background-size: cover;
	background-blend-mode: lighten;
	border: 20px solid rgba(0, 0, 0, 0.8);
}

.pic {
	width: 90%;
	border: none;
	margin-left: 5%;
	margin-right: 5%;
	border-radius: 5px;
}

.back3 {
	background-color:rgba(216,217,212,.9);
	padding: 5% 5% 5% 5%;
	border: 20px solid rgba(0, 0, 0, 0.8);
	border-radius: 5px;
}

.back4 {
	background-image: url("images/SageSprigs-997597.jpg");
	background-size: cover;
	background-blend-mode: lighten;
	border: 4px solid rgba(0, 0, 0, 0.8);
}

.back5 {
	background-image: url("images/SageSprigs-997597.jpg");
	background-size: cover;
	background-blend-mode:darken;
	border: 15px solid rgba(0, 0, 0, 0.8);
	padding-top: 4%;
	padding-bottom: 3%;
}
	
.me {
	border: 15px solid rgba(0, 0, 0, 0.8);
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.button {
	text-align: center;
	padding: 10px 10px 10px 10px;
	font-size: 1em;
	margin-right: 20%;
	margin-left: 20%;
	background-color:rgba(130,131,129,1.00);
	border: 1px solid rgba(0, 0, 0, 0.8);
	border-radius: 30px;
}

.blog {
	text-align: left;
	margin-left: 5%;
	margin-right: 5%;
}

.mail {
	background-image: url("images/SageSprigs-997597.jpg");
	background-size: cover;
	background-blend-mode: lighten;
	border: 20px solid rgba(0, 0, 0, 0.8);
	width: 50%;
	justify-content: center;
	padding-right: 8%;
	border-radius: 5px;
}



@media only screen and (max-width: 760px) {
	
	.row {
		flex-wrap: wrap;
		flex-direction: column;
	}
	.column {
		flex-basis: 100%;
	}
	
	
}

